#fifth-section-title {
	color: hsl(210, 10%, 33%);
	font-weight: 600;
  	font-size: 40px;
	margin-top: 56px;
}

#fifth-section-description {
	color: hsl(201, 11%, 66%);
	margin: 0px auto;
	margin-bottom: 50px;
	margin-top: 30px;
	max-width: 690px;
	line-height: 25px;
}